body{
    background:  palevioletred;
    height: 100vh;
    width: 100%;
}

           /* Note: the body and main-background height and width should be the same */
.main_backgroung{
    background: url('https://i.pngimg.me/thumb/f/720/f73b6f24223646e4aa54.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman' ;
}


    /* main section main-continer/ item/ main-logo/text-item */
.main-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    margin-top: 20px;
    background: url('https://img.freepik.com/free-photo/brown-texture_1253-165.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
  
   
}
.item {
    position: absolute;
    top: 0;
    left: 0;
    width:58%;
    height: 100%;
    color: black;
    background: transparent;
    padding: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.item .main-logo{
    color: black;
    font-size: 30px;
}
.text-item{
    font-size: 40px;
    line-height: 1;
   
}
              /* Form login section*/
.main-container .login-section{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    color: black;
}
.login-section .form-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.login-section .form-box h2{
    text-align: center;
    font-size: 25px;
}
.form-box .input-box {
    width: 340px;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
    position: relative;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px ;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform:  translateY(-50);
    font-size: 16px;
    font-weight: 600px;
    pointer-events: none;
    transition: .5s ease;
}
.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}
.input-box input:focus~ label,
.input-box input:valid~ label{
   top: -5px;
}
.remember-password{
    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-password label input{
    accent-color: yellow;
    margin-right: 3px;
}
.remember-password a{
    color: blue;
    text-decoration: none;
}
.remember-password a:hover{
    text-decoration: underline;
}

                       /*Button Section  */
.btn_section{
    background-color:#fff;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: hotpink;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0,0,0,4);
   

}
                     /* Account section */
.create-account{
    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}
.create-account p a{
color: rebeccapurple;
font-weight: 600px;
text-decoration: none;
}
.create-account p a:hover{
    text-decoration: underline;
}
     /* nav-bar section */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 13%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #ecaaaa;
}
.nav_bar a{
    position: relative;
    font-size: 16px;
    color: black;
    margin-right: 30px;
    text-decoration: none;
}
.nav_bar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}
.nav_bar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}
.search-bar{
    width: 250px;
    height: 45px;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid black;
    display: flex;
    align-items: center;
}
.search-bar input{
    width: 100%;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}
.search-bar button{
    width: 40px;
    height: 100%;
    background: transparent;
    outline: none;
    border: black;
    color: #fff;
    cursor: pointer;
}
.search-bar input::placeholder{
    color: aqua;
}
.footer {
    color: black;
    padding: 10px 0;
    text-align: center;
    width:100%;
    font-size: 25px;
    position: fixed;
    height: 50px;
    bottom: 0;
    background: url('https://img.freepik.com/free-photo/brown-texture_1253-165.jpg');
}
  
